/* font's not working*/ 

 .galdeano-regular {
  font-family: "Galdeano", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Galdeano", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 5px;
  margin-bottom: 10px;
}

p{
  font-family: 'open sans', sans-serif;
  font-weight: 300;
  margin: 0; 
}


.fortune-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
}

.main-fortune {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  text-align: center;
  margin-bottom: 20px;
}

.main-fortune img {
  width: 200px; 
  max-width: 60vw;
  height: auto;
}

.quarter-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fortune-card {
  border: 2px solid rgba(232, 196, 241, 0.918);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 5px 20px 15px;
  text-align: center;
  border-radius: 10px;
}
.fortune-card img {
  margin:0;
  margin-bottom: -10px;
}

.fortunes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .quarter-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}